## Titanic project

In [1]:
# importing labrory

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
#import data
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [4]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
# removing unwanted coloums
train.drop(columns=['PassengerId','Name','Ticket','Cabin', 'Embarked'],inplace=True)
test.drop(columns=['PassengerId','Name','Ticket','Cabin', 'Embarked'],inplace=True)

In [6]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [11]:
#convarting catgarical variable into numrical
train.Sex=pd.get_dummies(train.Sex,drop_first=True)
test.Sex=pd.get_dummies(test.Sex,drop_first=True)

In [7]:
#checking null values 
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [15]:
test.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [13]:
#replacing the null values with mean
train.Age=train.Age.fillna(train.Age.mean())
test.Age=train.Age.fillna(test.Age.mean())
test.Fare=test.Fare.fillna(test.Fare.mean())

In [14]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [16]:
test.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [18]:
x_train,x_test,y_train,y_test=train_test_split(train.drop(columns="Survived"),train.Survived,test_size=0.30,stratify=train.Survived)

# model

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=0)

In [21]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [22]:
x_train.shape

(623, 6)

In [23]:
y_test.shape

(268,)

In [24]:
pred=rf.predict(x_test)

In [25]:
accuracy_score(y_test,pred)

0.7798507462686567